URL=http://localhost/manuufrb
DB_HOST=localhost
DB_NAME=manuufrb
DB_USER=root
DB_PASS=
DB_PORT=3306
MAINTENANCE=false
ID_OAUTH=YOUR_GOOGLE_CLIENT_ID
CLIENT_SECRET=YOUR_GOOGLE_CLIENT_SECRET_KEY
API_KEY=KEY_API_GOOGLE_CALENDAR
CACHE_TIME=0
CACHE_DIR=C:/Users/AppData/Local/Temp/manuufrb/cache (Director => %temp%)