<!-- Begin Page Content -->
<div class="container-fluid">
    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">{{title}}</h1>

    <hr>

    <a href="{{URL}}/agendamentos" class="{{type_btn1}}">
        <span class="icon text-white-50">
            <i class="fas fa-arrow-left"></i>
        </span>
        <span class="text">{{botao1}}</span>
    </a>

    <hr>

    <div class="row">
        <div class="col-xl-6">
            <div>
                <form method="post">
                    <div class="form-group">
                        <label>Título</label>
                        <input class="form-control" type="text" name="titulo" id="titulo" value="{{titulo}}" required>
                    </div>

                    <div class="form-group">
                        <label>Equipamento</label>
                        <select class="form-control" name="equipamento" id="equipamento" required>
                            <option value=""></option>
                            {{equip}}
                        </select>
                    </div>
                    
                    <div class="form-grop">
                        <label>Datas</label>
                        <div class="input-group input-daterange" data-provide="datepicker-inline" data-date-format="dd/mm/yyyy" data-date-language="pt-BR">
                            <input type="text" class="form-control" name="data-st" id="data-st" placeholder="Início">
                            <div class="input-group-addon">
                                <span class="btn btn-secondary">
                                    <i class="fas fa-calendar fa-sm"></i>
                                </span>
                            </div>
                            <input type="text" class="form-control" name="data-fs" id="data-fs" placeholder="Fim">
                        </div>
                    </div>

                    <div class="form-group my-3">
                        <label>Descrição</label>
                        <textarea class="form-control" name="descricao" rows="3" required>{{descricao}}</textarea>
                    </div>

                    <div class="form-group">
                        <label for="resp">Pessoas</label>
                        <select class="form-check" name="resp" id="resp"  multiple required>
                            {{respons}}
                        </select>

                        <script type="text/javascript">
                            VirtualSelect.init({
                                ele: '#resp',
                                placeholder: 'Responsáveis',
                                noOptionsText: 'Nenhum resultado encontrado',
                                searchPlaceholderText: 'Encontrar...',
                                allOptionsSelectedText: 'Todos',
                                emptyValue: '',
                                required: true,
                                disableValidation: true,
                            });
                        </script>
                    </div>
                    
                    <div class="form-grop">
                        <button type="submit" class="{{type_btn2}}">
                            <span class="icon text-white-50">
                                <i class="fas fa-check"></i>
                            </span>
                            <span class="text">{{botao2}}</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-xl-6">
            <div>
                <div>
                    <label></label>
                    <img class="card my-2 rounded" {{link}} style="max-height: 450px; max-width: 450px">
                </div>
            </div>
        </div>
    </div>
    
</div>
<!-- /.container-fluid -->
