<tr>
    <td>
        <!-- Card Header - Dropdown -->
        <div class="card-body border-left-{{status}} py-3 d-flex flex-row align-items-center justify-content-between">
            <h6 class="m-0 ml-3 font-weight-bold text-primary">{{title}}</h6>
            <div class="mr-3 dropdown no-arrow">
                <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-ellipsis-h fa-fw text-gray-600"></i>
                </a>
                <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
                    <a class="dropdown-item" href="#" {{env_display}}>
                        <span class="icon">
                            <i class="fas fa-paper-plane"></i>
                        </span>
                        <span class="text">Enviar</span>
                    </a>
                    <div class="dropdown-divider" {{env_display}}></div>
                    <a class="dropdown-item" href="{{URL}}/edit-agendamento={{id}}">
                        <span class="icon">
                            <i class="fas fa-edit"></i>
                        </span>
                        <span class="text">Editar</span>
                    </a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#" data-toggle="modal" data-target="#delete-agendamento{{id}}">
                        <span class="icon">
                            <i class="fas fa-trash"></i>
                        </span>
                        <span class="text">Excluir</span>
                    </a>
                </div>
            </div> 
        </div>
    </td>
    <!-- Delete Modal Agendamento-->
    <div class="modal fade" id="delete-agendamento{{id}}" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="ModalLabel">Excluir Agendamento.</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">Deseja realmente excluir o agendamento <b>{{title}}</b> ?</div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancelar</button>
                <a class="btn btn-danger" href="{{URL}}/delete-agendamento={{id}}">Excluir</a>
            </div>
        </div>
    </div>
    </div>
</tr>

