<div class="container-fluid">
    <div id='calendar'></div>
    <style>
        .calendar{
            width: 100%;
            height: 80vh;
            color: rgb(90, 92, 105);
        }
    </style>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        var calendarEl = document.getElementById('calendar');
        var calendar = new FullCalendar.Calendar(calendarEl, {
            initialView: 'dayGridMonth',
            themeSystem: 'bootstrap',
            locale: 'pt-br',
            googleCalendarApiKey: '{{API_KEY}}',
            headerToolbar:{
                start: 'prevYear,prev,next,nextYear,today',
                center: 'title',
                end: 'timeGridDay,timeGridWeek,dayGridMonth'
            },
            buttonText:{
                today: 'hoje',
                month: 'mês',
                week: 'semana',
                day: 'dia',
                list: 'lista'
            },
            eventSources: [{
                    googleCalendarId: '{{googleCalendarId}}',
                    color: 'rgb(90, 92, 105)'
                },
                {
                    events: JSON.parse('{{eventsManu}}'),
                    color: 'rgb(28, 200, 138)'
                },
            ],
            eventClick: function(info) {
                info.jsEvent.preventDefault(); // don't let the browser navigate
                $('#del').modal('hide');
            }
        });
        calendar.render();
    });
</script>

<!-- Delete Modal Agendamento (não funcionando)-->
<div class="modal fade" id="del" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="ModalLabel">Excluir Agendamento.</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">Deseja realmente excluir o agendamento <b>{{title}}</b> ?</div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancelar</button>
                <a class="btn btn-danger" href="{{URL}}/delete-agendamento={{id}}">Excluir</a>
            </div>
        </div>
    </div>
</div>

