<tr>
    <td>{{local}}</td>
    <td>{{area}}</td>
    <td>
        <a href="{{URL}}/edit-area={{id}}" class="btn btn-info btn-circle">
            <i class="fas fa-cog"></i>
        </a>
    </td>
    <td>
        <a href="#" class="btn btn-danger btn-circle" data-toggle="modal" data-target="#delete-area{{id}}">
            <i class="fas fa-trash"></i>
        </a>
    </td>
    <!-- Delete Modal Equipamento-->
    <div class="modal fade" id="delete-area{{id}}" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="ModalLabel">Excluir Área.</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">Deseja realmente excluir a área <b>{{area}}</b> ?</div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancelar</button>
                <a class="btn btn-danger" href="{{URL}}/delete-area={{id}}">Excluir</a>
            </div>
        </div>
    </div>
    </div>
</tr>

