<!-- Outer Row -->
<div class="row justify-content-center">

    <div class="col-xl-5 col-lg-12 col-md-9">

        <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-0">
                <!-- Nested Row within Card Body -->
                <div class="row">
                    <div class="col-lg-12">
                        <div class="p-5">
                            <div class="text-center">
                                <h1 class="h4 text-gray-900 mb-2">Esqueceu sua senha?</h1>
                                <p class="mb-4">Nós entendemos, coisas acontecem. Basta digitar o seu endereço de e-mail abaixo e enviaremos um link para redefinir sua senha!</p>
                            </div>

                            <div class="text-center">
                                {{status}}
                            </div>

                            <form method="post" class="user">
                                <div class="form-group">
                                    <input type="email" class="form-control form-control-user" name="email" id="exampleInputEmail" aria-describedby="emailHelp" placeholder="Email" required>
                                </div>
                                <button href="{{URL}}" class="btn btn-primary btn-user btn-block" type="submit">Redefinir senha</button>
                            </form>
                            <hr>
                            <div class="text-center">
                                <a class="small" href="{{URL}}">Já tem uma conta? Entre aqui!</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>