<tr>
    <td>{{patrimonio}}</td>
    <td>{{nome}}</td>
    <td>{{descricao}}</td>
    <td>{{local}}</td>
    <td>
        <a href="{{URL}}/edit-equipamento={{id}}" class="btn btn-info btn-circle">
            <i class="fas fa-cog"></i>
        </a>
    </td>
    <td>
        <a href="#" class="btn btn-danger btn-circle" data-toggle="modal" data-target="#delete-equipamento{{id}}">
            <i class="fas fa-trash"></i>
        </a>
    </td>
    <!-- Delete Modal Equipamento-->
    <div class="modal fade" id="delete-equipamento{{id}}" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="ModalLabel">Excluir Equipamento.</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">Deseja realmente excluir o equipamento <b>{{nome}}</b> cujo o patrimônio é <b>{{patrimonio}}</b> ?</div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancelar</button>
                <a class="btn btn-danger" href="{{URL}}/delete-equipamento={{id}}">Excluir</a>
            </div>
        </div>
    </div>
    </div>
</tr>

