<tr>
    <td>{{patrimonio}}</td>
    <td>{{nome}}</td>
    <td>{{descricao}}</td>
    <td>{{local}}</td>
    <td>
        <a href="{{URL}}/equipamentos/{{id}}/edit" class="btn btn-primary btn-icon-split">
            <span class="icon text-white-50">
                <i class="fas fa-sm"></i>
            </span>
            <span class="text">Editar</span>
        </a>

        <a href="{{URL}}/equipamentos/{{id}}/delete" class="btn btn-primary btn-icon-split">
            <span class="icon text-white-50">
                <i class="fas fa-sm"></i>
            </span>
            <span class="text">Excluir</span>
        </a>

    </td>
</tr>